#login{
    background-color: #9666ca;
    margin: 6rem;
    padding: 4rem;
    text-align: center;
    height: 400px;
    width: 600px;
}

#registro{
    background-color: #9666ca;
    margin: 6rem;
    padding: 4rem;
    text-align: center;
    height: 600px;
    width: 600px;
}

#botonesCarga{
    display: flex;
    justify-content: space-around;
}

#cargas{
    text-align: center;
    margin: 10px;
    background-color: rgb(133, 199, 66);
    border: 5px solid rgb(4, 105, 53);
    height: 100px;
    width: 400px;
}

#graf{
    display: table-cell;
    vertical-align: middle;
    border: 5px solid rgb(4, 105, 53);
    height: 300px;
    width: 200px;
}

#gUsuarios{
    margin: 10px;
}
#gArtistas{
    margin: 10px;
}
#gMusica{
    margin: 10px;
}
#gPodcast{
    margin: 10px;
}

#mostrarG{
    display: table-cell;
    vertical-align: middle;
    border: 5px solid rgb(4, 105, 53);
    height: 600px;
    width: 1200px;
    margin: 30px;
}