#login{
    background-color: #9666ca;
    margin: 6rem;
    padding: 4rem;
    
    text-align: center;
}

#registro{
    background-color: #9666ca;
    margin: 6rem;
    padding: 4rem;
    
    text-align: center;
}

#botonesCarga{
    display: flex;
    justify-content: space-around;
}

#cargas{
    text-align: center;
    margin: 10px;
    background-color: rgb(133, 199, 66);
}